# Altium backup and temp files
*.tmp
*.bak
*.log
*.DsnWrk
*.PrjPCBStructure
*.DB
*.outjobpreview
*.dat

# History and previews
History/
Cases/
BOM/
__Previews/

# Output folders
*/Outputs/*
*/Project Outputs for CHOCO_KEYBOARD/*
*/Gerbers/*
*/PDFs/*
